@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a class="btn btn-danger" href="/employee/" style="padding=20px">Manage Employee</a>
    <a class="btn btn-dark" href="/employee/login" style="padding=20px">login</a>
</div>
